@model ItemModel
@section Head{
    <style>
        .e-multiselect.e-control-wrapper, .e-date-wrapper {
            background-color: unset !important
        }
    </style>
}
@{
    ViewData["Title"] = "Create";
}

<h4>@Localizer["Create Item"]</h4>
<hr />
<form asp-action="Create" class="d-flex flex-column gap-3">
    <input type="hidden" asp-for="CollectionId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <ejs-multiselect name="SelectedTags" dataSource="Model.TagsListItems" value="Model.SelectedTags"
                                 id="SelectedTags" allowFiltering floatLabelType="Auto" allowCustomValue placeholder="@Localizer["Tags"].Value"
                                 MaximumSelectionLength="10" cssClass="e-bigger" popupHeight="220px">
                    <e-multiselect-fields value="Text"></e-multiselect-fields>
                </ejs-multiselect>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("CustomFields/Bool", Model)
    @await Html.PartialAsync("CustomFields/String", Model)
    @await Html.PartialAsync("CustomFields/Date", Model)
    @await Html.PartialAsync("CustomFields/Int", Model)
    @await Html.PartialAsync("CustomFields/Text", Model)

    <div class="d-flex gap-1">
        <div class="form-group">
            <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
        </div>
        <div>
            <a asp-action="Items" asp-controller="Collections" asp-route-id="@Model.CollectionId" class="btn btn-primary">
                @Localizer["Back to List"]
            </a>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/syncfusion/dist/js/multiselect.min.js"></script>
    <script src="~/lib/syncfusion/dist/js/datepicker.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
