@model IEnumerable<CatalogR.Models.Collection>
@inject LinkGenerator LinkGenerator

@{
    var check = ViewData["OwnsCollection"] as bool?;
    var owns = check != null ? check.Value : false;
}

<ejs-grid dataSource="Model" id="Grid" toolbarTemplate="#template" dataBound="dataBound" enableStickyHeader="true" allowResizing="true" allowPaging="true" allowSorting="true" allowFiltering="true" allowGrouping="true" rowHeight="180" allowSelection="true">
    <e-grid-pagesettings pageSizes="@(new string[] { "5", "10" , "20" })" pageSize="5"></e-grid-pagesettings>
    <e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
    <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
    <e-grid-groupsettings enableLazyLoading="true"></e-grid-groupsettings>
    <e-grid-columns>
        <e-grid-column template="#img-template" headerText="@Localizer["Image"].Value" textAlign="Center" width="150"></e-grid-column>
        <e-grid-column field="Name" headerText="@Localizer["Name"].Value" allowGrouping="false" width="100"></e-grid-column>
        <e-grid-column template="#markdown-template" headerText="@Localizer["Description"].Value" width="200"></e-grid-column>
        <e-grid-column field="Topic.Name" headerText="@Localizer["Topic"].Value" filter="@(new { type="CheckBox"})" textAlign="Left" width="100"></e-grid-column>
        <e-grid-column field="TopicLocale" headerText="@Localizer["Topic"].Value" filter="@(new { type="CheckBox"})" textAlign="Left" width="100"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<div id="template">
    <ejs-toolbar id="defaultToolbar" clicked="clickHandler">
        <e-toolbar-items>
            <e-content-template>
                <div>
                    <div title="@Localizer.GetString("Collection Details")"><button class='e-btn e-tbar-btn' id="view"><i class="bi bi-eye h4"></i></button> </div>
                    @if (owns)
                    {
                        <div title="@Localizer.GetString("Edit Collection")"><button class='e-btn e-tbar-btn' id="edit"><i class="bi bi-pencil-square h4"></i></button></div>
                        <div title="@Localizer.GetString("Delete Collection")"><button class='e-btn e-tbar-btn' id="delete"><i class="bi bi-trash3 h4"></i></button> </div>
                    }
                    <div title="@Localizer.GetString("Collection Items")"><button class='e-btn e-tbar-btn' id="list"><i class="bi bi-card-list h4"></i></button> </div>
                </div>
            </e-content-template>
        </e-toolbar-items>
    </ejs-toolbar>
</div>

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning">
                    @Localizer["Warning"]
                </h5>
            </div>
            <div class="modal-body">
                <p>@Localizer["No records selected"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    @Localizer["Close"]
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    function dataBound() {
        var grid = document.getElementById('Grid').ej2_instances[0];
        grid.hideScroll();
    }

    function clickHandler(args) {
        var target = args.originalEvent.target.closest('button'); //find clicked button
        var gridInstance = document.getElementById("Grid").ej2_instances[0];
        var selected = gridInstance.getSelectedRecords();
        if (selected.length == 0) {
            $('#myModal').modal('show')
            return;
        }

        var id = selected[0].Id;
        if (target.id === 'edit') {
            let editUrl = '@(LinkGenerator.GetPathByAction("Edit", "UserCollections", new { id = "PLACEHOLDER" }))';
            window.location.href = editUrl.replace('PLACEHOLDER', id);
        }

        if (target.id === 'view') {
            let viewUrl = '@(LinkGenerator.GetPathByAction("Details", "Collections", new { id = "PLACEHOLDER" }))';
            window.location.href = viewUrl.replace('PLACEHOLDER', id);
        }

        if (target.id === 'delete') {
            let deleteUrl = '@(LinkGenerator.GetPathByAction("Delete", "UserCollections", new { id = "PLACEHOLDER" }))';
            window.location.href = deleteUrl.replace('PLACEHOLDER', id);
        }

        if (target.id === 'list') {
            let listLink = '@(LinkGenerator.GetPathByAction("Items", "Collections", new { id = "PLACEHOLDER" }))';
            window.location.href = listLink.replace('PLACEHOLDER', id);
        }
    };
</script>

<script id="img-template" type="text/x-template">
    ${if(ImageUrl)}
        <img class="img-thumbnail" style="max-height: 180px" src="${ImageUrl}" alt="..." />
    ${else}
        <div class="bg-info bg-opacity-10" style="height: 180px"></div>
    ${/if}
</script>

<script id="markdown-template" type="text/x-template">
    <div class="overflow-auto scrollable-div py-2" style="max-height: 150px; margin: 0 !important; line-height: 1 !important">
        ${DescriptionMarkdown}
    </div>
</script>

<style>
    .e-grid .e-gridheader .e-columnheader, .e-groupcaptionrow {
        height: 50px !important;
    }

    .e-row {
        cursor: pointer;
    }
</style>