@model CatalogR.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <div style="height: 1000px"></div>
    <ul class="list-group list-group-horizontal">
        @foreach (var tag in Model.Tags)
        {
            <li class="list-group-item">@tag.Name</li>
        }
    </ul>
</div>

@{
    var UserId = UserManager.GetUserId(User);
    var Auth = SignInManager.IsSignedIn(User);
}

@(await Html.RenderComponentAsync<CatalogR.Views.Components.CommentsList>(RenderMode.ServerPrerendered, new { Model.Comments, UserId, ItemId = Model.Id, Auth }))
@(await Html.RenderComponentAsync<CatalogR.Views.Components.Likes>(RenderMode.ServerPrerendered, new { UserId, ItemId = Model.Id, Model.LikesCount, Auth, Liked = Model.Likes.Any(l=>l.UserId == UserId) }))

<div>
    <a asp-action="Edit" asp-controller="CollectionItems" asp-route-collectionId="@Model?.CollectionId" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="CollectionItems" asp-route-collectionId="@Model?.CollectionId">Back to List</a>
</div>
