@model CatalogR.Models.Collection
@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex flex-column align-items-center justitfy-content-center">
    <h3>@Localizer["Are you sure you want to delete collection?"]</h3>
    <div style="min-width: 400px">
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            @if ((Model.Topic != null))
            {
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Topic)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Topic!.Name)
                </dd>
            }
            <dt class="col-sm-3">
                @Localizer["Items"]:
            </dt>
            <dd class="col-sm-9">
                <b class="text-primary">@ViewData["ItemsCount"]</b>
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
            <a asp-action="Index">@Localizer["Back to List"]</a>
        </form>
    </div>
</div>
