@model CatalogR.Models.Item
@inject CatalogR.Services.TimeManagerService timeService
<div class="card">
    <div class="card-header">
        @Model.Collection?.Name
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        @if (Model.Collection?.User != null)
        {
            <p class="card-text">
                @Localizer["Created by"]
                <a asp-action="ByUser" asp-controller="Collections" asp-route-id="@Model.Collection?.User.Id">
                    @Model.Collection?.User?.GetName
                </a>
            </p>
        }
        <p class="card-text"><small class="text-body-secondary">@timeService.AsTimeAgo(Model.TimeStamp)</small></p>
    </div>
</div>